<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com-luoteng-folk"
        version="0.7.0">

  <name>Folk</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

 <asset src="www/folk.js" target="js/folk.js"/>

  <js-module src="www/folk.js" name="folk">
    <clobbers target="folk" />
  </js-module>
  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
	 <feature name="Folk">
        <param name="android-package" value="com.luoteng.folk.plugins.FolkPlugin" />
    </feature>
    </config-file>

	<source-file src="src/android/com/luoteng/folk/plugins/FolkPlugin.java" target-dir="src/com/luoteng/folk/plugins"/>
  </platform>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="CDVFolkMethd">
                <param name="ios-package" value="CDVFolkMethd"/>
            </feature>
        </config-file>
        <header-file src="src/ios/CDVFolkMethd.h" />
        <source-file src="src/ios/CDVFolkMethd.m" />
    </platform>

</plugin>